<div class="sidebar">

    <div class="logo">

        <i class="bi bi-file-earmark-lock-fill"></i>

        <span>Doc Verify</span>

    </div>

    <ul class="menu">

        <li>
            <a href="{% url 'dashboard' %}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'history' %}">
                <i class="bi bi-clock-history"></i>
                History
            </a>
        </li>

        <li>
            <a href="{% url 'profile' %}">
                <i class="bi bi-person-circle"></i>
                Profile
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-gear"></i>
                Settings
            </a>
        </li>

    </ul>

    <div class="{url 'logout'}">

        <a href="/logout">
            <i class="bi bi-box-arrow-right"></i>
            Logout
        </a>

    </div>

</div>